<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('global') }}
		{% endblock %}
	</head>
	<body>
	{% block main_title %}
	{% endblock%}
		<div id="app" class="container-fluid">
			{% block body %}{% endblock %}
		</div>

		<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("http://localhost:8080", location.hostname));
//]]></script>
	</body>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</html>
