{% extends 'base.html.twig' %}

{% block title %}
	Tasks
{% endblock %}
{% block main_title %}
	<div class="container_fluid">
		<div class="d-flex justify-content-center">
			<h1>
				Todo List
			</h1>
		</div>
	</div>
{% endblock %}
{% block body %}
	<div class="d-flex justify-content-center">
		<task-create/>
	</div>
{% endblock %}
